<html>
    <head>
        <title>Quoting Dojo</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </head>
    <body>
            <% for (var x in users){ %>
                "<%= users[x].quote %>"<br>
                -<%= users[x].name %> at <%= users[x].createdAt %><br>
                <br>
            <% } %>
    </body>
</html>